*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: rubrik-new,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
}

h2 {
    font-family: rubrik-new,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;

}

p {
    font-family: rubrik-new,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
}

#wholegame {
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: -250px;
    border-bottom: 1px solid black;
}

#doge {
    background-image: url(doge.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    top: 496px;
}

.animate {
    animation: jump 1.5s linear;
}

#elon {
    width: 40px;
    height: 40px;
    background-image: url(elon.jpg);
    background-size: cover;
    position: relative;
    top: 457px;
    left: 825px;
    animation: elon 2s infinite linear;
}

#scoretxt {
    text-align: center;
    font-family: rubrik-new,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 25px;
}

@keyframes jump {
    0% {
        top: 496px;
    }

    10% {
        top: 350px;
    }

    40% {
        top: 350px;
    }

    50% {
        top: 350px;
    }

    60% {
        top: 350px;
    }

    90% {
        top: 350px;
    }
    

    100% {
        top: 496px;
    }


}

@keyframes elon {

    from {
        left: 825px;
    }

    to {
        left: 0px;
    }
    
}